/* Define variables */
:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.9);
    --border-color: black;
    --x-mark-color: black;
    /* Color for X */
    --circle-mark-color: red;
    /* Color for Circle */
    --board-hover-color: lightgrey;
    --background-color: rgba(0, 0, 0, 0.9);
    --text-color: white;
    --button-bg-color: white;
    --button-text-color: black;
    --button-hover-bg-color: black;
    --button-hover-text-color: white;
    --button-border: 1px solid black;
    --winning-message-font: 5rem;
    --button-font: 3rem;
    --button-padding: 0.25em 0.5em;
    --mark-rotation: 45deg;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
    :root {
        --cell-size: 60px;
        --mark-size: calc(var(--cell-size) * 0.9);
        --winning-message-font: 3rem;
        --button-font: 2rem;
        --button-padding: 0.15em 0.3em;
    }
}

/* Global styling */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Board */
.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

/* Cell Styling */
.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Adjust cell border */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

/* Cell Mark Styling for X */
.cell.x::before,
.cell.x::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
    background-color: var(--x-mark-color);
}

.cell.x::before {
    transform: rotate(45deg);
}

.cell.x::after {
    transform: rotate(-45deg);
}

/* Cell Mark Styling for Circle */
.cell.circle::before,
.cell.circle::after {
    background-color: var(--circle-mark-color);
    /* Color for Circle */
    content: '';
    position: absolute;
    border-radius: 50%;
    width: var(--mark-size);
    height: var(--mark-size);
    transition: background-color 0.2s ease;
}

.cell.circle::after {
    width: calc(var(--mark-size) * 0.7);
    height: calc(var(--mark-size) * 0.7);
    background-color: white;
}

/* On hover, change background color */
.board.x .cell:not(.x):not(.circle):hover,
.board.circle .cell:not(.x):not(.circle):hover {
    background-color: var(--board-hover-color);
}

/* Winning Message Styling */
.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color);
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: var(--winning-message-font);
    flex-direction: column;
    transition: display 0.5s ease;
}

.winning-message button {
    font-size: var(--button-font);
    background-color: var(--button-bg-color);
    border: var(--button-border);
    padding: var(--button-padding);
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease;
}

.winning-message button:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
    border-color: var(--border-color);
}

.winning-message.show {
    display: flex;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {

    /* Adjust variables for smaller screens */
    :root {
        --cell-size: 60px;
        --mark-size: calc(var(--cell-size) * 0.9);
        --winning-message-font: 3rem;
        --button-font: 2rem;
        --button-padding: 0.15em 0.3em;
    }

    /* Other responsive styles go here */
}